.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.cGreen{
  font-weight: bold;
  border: 2px solid blue;
  background-color:green;
  font-size:'25px';
  color: black;
}
.cRed{
  font-weight: bold;
  border: 2px solid blue;
  background-color:red;
  font-size:'25px';
  color: black;
}
.XC{
  font-weight: bold;
  border: 2px solid blue;
  background-color:white;
  font-size:'25px';
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
span,

ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
} 